<nav class="main-nav-outer" id="test"><!--main-nav-start-->
    <div class="container">
        {#<div class="saluto">{{ coindesk }}</div>#}
        <ul class="main-nav">
            <li><a href="{{ path('homepage') }}">Home</a></li>
            <li><a href="{{ path('post') }}">Post</a></li>
            <li><a href="#Portfolio">Menu</a></li>

            {#se sono nella homepage#}
            {% if app.request.get('_route') == 'homepage' %}
                {#se l'utenza è loggata mostro il link area riservata#}
                {% if app.user %}
                    <li class="accedi"><a href="{{ path('account') }}">Area riservata</a></li>
                    {#diversamente mostro il tasto accedi#}
                {% else %}
                    <li class="accedi" data-toggle="modal" data-target="#myModalHorizontal"><a>Accedi</a></li>
                {% endif %}
            {% endif %}
            <li><a href="#client">Menu</a></li>
            <li><a href="#team">Menu</a></li>
            <li><a href="#contact">Menu</a></li>
            {% if app.user and app.user.id==6 %}
                <li><a style="color: #3c763d" href="{{ path('admin') }}">Gestione sito</a></li>
                <li><a href="{{ path('logout') }}">Logout</a></li>
            {% elseif app.user and app.user.id != 6 %}
                <li><a href="{{ path('logout') }}">Logout</a></li>
            {% endif %}

        </ul>
        <a class="res-nav_click" href="#"><i class="fa-bars"></i></a>
    </div>
</nav><!--main-nav-end-->