{#prendo gli ultimi 2 post e li mostro#}
    {% for post in posts|slice(0, 2) %}
        {#{{ dump(post) }}#}
        {% if post.attivo == 1 %}
            <div class="container-fluid" style="background-color: #f8f9fa">
            <div class="row text-center">
                <div class="col-md-12 text-center">
                    <div style="height: 20px"></div>
                    <h2 style="font-size: 24px">{{ post.titolo }}</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-12 text-center">
                    <img src="{{ post.img }}">
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-12 text-center">
                    <p class="client-part-haead" style="color: black; font-size: 18px">{{ post.contenuto }}</p>
                </div>
            </div>
            {#se ho la dataInizio printo data inizio e data fine#}
            {% if post.dataInizio is not null %}
                <div class="row text-center">
                    <div class="col-md-6 text-center">
                        <p>Data Inizio</p><h4>{{ post.dataInizio|date('d-m-Y H:i') }}</h4>
                    </div>
                    <div class="col-md-6 text-center">
                        <p>Data Fine</p><h4>{{ post.dataFine|date('d-m-Y H:i') }}</h4>
                    </div>
                </div>
                <div style="height: 30px"></div>
            {% endif %}
        {% endif %}
        </div>
        <div style="height: 20px"></div>
        <div class="dropdown-divider"></div>
        <div style="height: 20px"></div>
    {% endfor %}