{% extends '@App/base.html.twig' %}
{% block title %}
    Creazione Evento
{% endblock %}

{% block body %}
    {% include '@App/templates/navigation.html.twig' %}

    {#{{ form_start(form) }}#}
    {#{{ form_row(form) }}#}
    {#<button type="submit">Salva</button>#}
    {#{{ form_end(form) }}#}

    <div class="container">
        <div class="row main">
            <div class="panel-heading">
                <div class="panel-title text-center">
                    <h1 class="title">Creazione Evento</h1>
                    <hr/>
                </div>
            </div>
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-danger text-center">
                        <strong>{{ message }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {{ form_start(form) }}
            <div class="main-login main-center">
                <div class="col-md-12">
                    <label for="titolo" class="cols-sm-2 control-label">Titolo</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            {{ form_widget(form.titolo, { 'attr': {'class':'form-control'}}) }}
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <label for="name" class="cols-sm-2 control-label">Immagine (1920 x 350 px)</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            {{ form_widget(form.img, { 'attr': {'class':'form-control'}}) }}
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <label for="email" class="cols-sm-2 control-label">Contenuto</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-code fa" aria-hidden="true"></i></span>
                            {{ form_widget(form.contenuto, { 'attr': {'class':'form-control'}}) }}
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <label for="username" class="cols-sm-2 control-label">Data apertura Server</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                            {{ form_widget(form.dataInizio, { 'attr': {'class':'form-control'}}) }}
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <label for="username" class="cols-sm-2 control-label">Data Evento</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                            {{ form_widget(form.dataFine, { 'attr': {'class':'form-control'}}) }}
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <label for="confirm" class="cols-sm-2 control-label">Ora Inizio Prove</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                            {{ form_widget(form.dataInizioProve, { 'attr': {'class':'form-control'}}) }}
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <label for="password" class="cols-sm-2 control-label">Ora Fine Prove</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                            {{ form_widget(form.dataFineProve, { 'attr': {'class':'form-control'}}) }}
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <label for="confirm" class="cols-sm-2 control-label">Ora Inizio Qualifiche</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                            {{ form_widget(form.dataInizioQual, { 'attr': {'class':'form-control'}}) }}
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <label for="confirm" class="cols-sm-2 control-label">Ora Fine Qualifiche</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                            {{ form_widget(form.dataFineQual, { 'attr': {'class':'form-control'}}) }}
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <label for="confirm" class="cols-sm-2 control-label">Ora Inizio Gara</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                            {{ form_widget(form.dataInizioGara, { 'attr': {'class':'form-control'}}) }}
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <label for="confirm" class="cols-sm-2 control-label">Giri di gara</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                            {{ form_widget(form.girigara, { 'attr': {'class':'form-control'}}) }}
                        </div>
                    </div>
                    <div style="height: 30px"></div>
                </div>

                <div class="col-md-12">
                    <label for="confirm" class="cols-sm-2 control-label">Informazioni Server</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-map-pin" aria-hidden="true"></i></span>
                            {{ form_widget(form.altro, { 'attr': {'class':'form-control'}}) }}
                        </div>
                    </div>
                    <div style="height: 30px"></div>
                </div>

                <div class="col-md-12">
                    <label for="confirm" class="cols-sm-2 control-label">Visibile</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-map-pin" aria-hidden="true"></i></span>
                            {{ form_widget(form.attivo, { 'attr': {'class':'form-control'}}) }}
                        </div>
                    </div>
                    <div style="height: 30px"></div>
                </div>

                <div class="form-group ">
                    <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Crea Evento</button>
                </div>
            </div>
        </div>
    </div>

    {#{{ form_start(form) }}#}
    {#{{ form_row(form.username) }}#}
    {#{{ form_row(form.email) }}#}
    {#{{ form_row(form.plainPassword.first) }}#}
    {#{{ form_row(form.plainPassword.second) }}#}
    {#{{ form_row(form.nome) }}#}
    {#{{ form_row(form.cognome) }}#}
    {#{{ form_row(form.dataNascita) }}#}
    {#<button type="submit">Registrati!</button>#}
    {{ form_end(form) }}
{% endblock %}