{% extends '@App/base.html.twig' %}
{% block title %}
    Amministrazione utenti
{% endblock %}
{% block body %}
    {% include '@App/templates/adminNav.html.twig' %}
    <div style="height: 30px"></div>
    <div class="row text-center">
        <div class="col-md-12 text-center">
            <h2>Gestione Utenti</h2>
        </div>
    </div>
    <div style="height: 30px"></div>
    <table class="table">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Data Registrazione</th>
            <th>Premium</th>
            <th>Username</th>
            <th>Email</th>
            <th>Ultimo accesso</th>
            {#<th>Modifica</th>#}
            <th>Attiva/Disattiva Utenza</th>
        </tr>
        </thead>
        <tbody>
        {% for utenza in utenze %}
            <tr>
                <td>{{ utenza.nome }}</td>
                <td>{{ utenza.cognome }}</td>
                <td>{{ utenza.dataRegistrazione|date('d-m-Y H:i') }}</td>
                {% if utenza.roles[0] == 'ROLE_USER_PREMIUM' %}
                    <td><img style="width: 25px" src="{{ asset('bundles/app/assets/img/verde.png') }}">
                        <a href="{{ path('app_default_disattivapremium', {'user': utenza.id}) }}">Disattiva</a>
                    </td>
                {% else %}
                    <td><img style="width: 25px" src="{{ asset('bundles/app/assets/img/rosso.png') }}">
                        <a href="{{ path('app_default_attivapremium', {'user': utenza.id}) }}">Attiva</a>
                    </td>
                {% endif %}
                <td>{{ utenza.username }}</td>
                <td>{{ utenza.email }}</td>
                {% if utenza.lastLogin is not null %}
                    <td>{{ utenza.lastLogin|date('d-m-Y H:i') }}</td>
                {% else %}
                    <td>Nessun accesso</td>
                {% endif %}
                {#<td><a href="modifica">Modifica</a></td>#}
                {% if utenza.enabled != true %}
                    <td><img style="width: 25px" src="{{ asset('bundles/app/assets/img/rosso.png') }}">
                        <a href="{{ path('app_default_attivautente', {'user': utenza.id}) }}">Attiva utenza</a></td>
                {% else %}
                    <td><img style="width: 25px" src="{{ asset('bundles/app/assets/img/verde.png') }}">
                        <a href="{{ path('app_default_attivautente', {'user': utenza.id}) }}">Disattiva utenza</a></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}